/* Basic responsive containers */
.App {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Universal styles */
body {
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

.hamburger-menu {
  display: none; /* Hide the hamburger menu by default */
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  background-color: white;
}
/* End Universal Stlyes */

/* Header */
header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 12vw;
}


header h1 {
  position: absolute;
  top: 1.1rem;
  left: 2rem;
  max-width: 12rem;
  filter: drop-shadow(5px 5px 5px black);
  z-index: 2;
}
/* End Header Styles */

/* Navbar */
nav {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  text-transform: uppercase;
  background-color: transparent;
}

.nav-links {
  display: flex;
  justify-content: center;
  background: rgba(69, 69, 69, 0.3);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-top: none;
  border-bottom: none;
}

.nav-links ul,
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  background-color: #fb4f14;
  padding: 0.5rem 1rem;
  color: black;
  text-shadow: 3px 3px 4px rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  border-top: none;
  border-bottom: none; 
}

nav a {
  font-size: 3rem;
  font-weight: bold;
  color: var(--white);
  transition: opacity 1s var(--expo-out);
}

nav a:hover {
  background-color: black;
  opacity: 0.8;
  color: white;
  text-shadow: 3px 3px 5px #fb4f14;
  border-radius: 2rem;
}
/* End Navbar */

.banner {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 1.5rem;
}

/* Main Styles */
main {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align text to the left */
  width: 90%; /* Same as the banner's width */
  max-width: 1200px;
  margin: 0 auto; /* Center it horizontally */
  padding: 1rem;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;
}

main p {
  font-size: clamp(1rem, 4vw, 1.8rem);
  line-height: 1.4;
  text-align: left;
  width: 100%;
}

main h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fb4f14;
  }

.logo-circle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.highlight {
  font-weight: bold;
  font-size: 2.5rem;
}

.support-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Prevents items from stretching too far */
  padding: 2rem 2rem 4rem 2rem;
  width: 100%;
  gap: clamp(1rem, 3vw, 6rem);
} 

.support-card {
  background-color: #1a1a1a;
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.8rem);
  padding: 1rem;
  border-radius: 8px;
  width: clamp(150px, 30%, 200px);
}

.icon-circle {
  width: 50px;
  height: 50px;
  margin: 0 auto 1rem;
}

.btn-support {
  display: inline-block;
  background-color: #fb4f14;
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.power-rankings {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.power-rankings h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.power-rankings li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

ol li::marker {
  color: #fb4f14;
  padding-right: 0.5rem;
}

.power-rankings-app {
  background-color: #ccc;
  width: 80%;
  max-width: 600px; /* Prevents it from being too wide */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.5rem;
} 

.social-follow {
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 100%;
  margin: 0 auto;
}

.social-button {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
/* End Main Styles */

/* Footer */
footer {
  background-color: #fb4f14;
  color: black;
  display: flex;
  padding: 2rem 1em;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
  
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-left: 1rem;
}
  
footer a {
  color: black;
  font-size: 150%;
  text-align: center;
  text-decoration: none;
}

footer a i {
  margin: 0 1.5rem;
}

.footer-center {
  font-size: 2rem;
}
  
footer a:hover {
  color: #348c31;
  text-shadow: 0 0 5px black;
}
/* End Footer Styles */

/* Responsive Styles */

/* Under 1410px */
@media (max-width: 1410px) {
header {
  height: auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

header h1 {
  position: relative;
  top: 0;
  left: 0;
  max-width: 10rem;
  margin-right: auto;
}

header h1 a img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu {
  display: block;
  font-size: 48px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  position: absolute;
  top: 5px;
  right: 5px;
}

nav ul {
  display: none; /* Hide the default nav bar */
}

nav {
  top: 0;
  right: 0;
  width: 100%;
  margin-top: 1rem;
}

.banner {
  max-width: 100%;
  margin: 1rem, 3rem, 2rem, 2rem;
  position: relative;
  z-index: 1; /* Ensure banner stays above or below as needed */
}

/* Mobile nav */
.nav-links {
  /* Display:none hides the menu when inactive - styles get inserted on .nav-links.open */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 1000;
  }

/* Show when active */
.nav-links.open {
  display: flex;
}

/* Mobile Nav Links */
.nav-links li {
  list-style: none;
  margin: 20px 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #fb4f14;
}

main {
  margin-top: 6rem;
}
}
/* End 1410 */

/* Hamburger menu initialization */
@media (max-width: 930px) {
  /* Switch from default nav */
  nav ul {
    display: none; /* Hide the default nav bar */
  }

  /* Hamburger syles */
  .hamburger-menu {
    display: block; /* Show the hamburger menu button */
    font-size: 32px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100; /* Ensure it's above everything */
    position: absolute;
    top: 20px;
    right: 20px;
  }

  /* Full-Screen Mobile Menu */
  .nav-links {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
    position: fixed; /* Cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1000; /* Ensure it's above everything */
  }

  .nav-links a {
    text-shadow: 3px 3px 4px black;
  }

  /* Show Menu When Open */
  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    list-style: none;
    margin: 20px 0;
  }

  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }

  .nav-links li a:hover {
    background-color: #fb4f14;
  }
}
/* End Hamburger menu initialization */

/* Tablet */
@media (max-width: 768px) {
  main {
    display: block;
  }

  /* Footer */
  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left, 
  .footer-center, 
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  footer a {
    font-size: 1.5rem;
    width: auto;
    font-size: 1.2rem;
  }

  .footer-center i {
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }
}
/* End Tablet */

/* Phones */
@media (max-width: 480px) {

  main {
    display: block;
  }

  .support-card {
    width: 100%;
    max-width: 200px;
  }
  
  .power-rankings li {
    font-size: 1rem;
  }
  
  main h2 {
    font-size: 1.8rem;
  }

  /* Footer */
  footer {
    font-size: 0.8rem;
  }

  footer a {
    font-size: 1rem;
  }
}
/* End Phones */